//
//  Config.xcconfig
//  Product Hunt
//
//  Created by Vlado on 4/11/16.
//  Copyright © 2016 ProductHunt. All rights reserved.
//

#include "Keys.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) PRODUCT_HUNT_APP_ID='$(PRODUCT_HUNT_APP_ID)' PRODUCT_HUNT_APP_SECRET='$(PRODUCT_HUNT_APP_SECRET)' PRODUCT_HUNT_FEED_URL='$(PRODUCT_HUNT_FEED_URL)'
